*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

/* MAIN */
    /* TOP BAR */
        .top-bar > .row{
            justify-content: flex-end;
        }

        .top-bar .col{
            padding: 40px 15px;
        }

        .top-bar-content > a{
            font-size: 15px;
            border: 1px solid #fff;
            padding: 15px 45px;
            border-radius: 25px;
        }
    /* FINE TOP BAR */
/* FINE MAIN */

/* LAYOUT */
    .top-bar{
        background-color: #080b12df;
        top: 0;
        left: 250px;
        z-index: 100;
    }

    .bottom-bar{
        background-color: #282828;
        bottom: 0;
        left: 0;
        z-index: 200;
    }

    .top-bar, .bottom-bar{
        height: 100px;
        position: fixed;
        right: 0;
    }

    .side-bar{
        background-color: #000000;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .main-center{
        background-color: #141922;
        position: absolute;
        top: 0;
        left: 250px;
        right: 0;
        padding: 120px 20px 50px;
        overflow-y: auto;
    }

    .side-bar, .main-center{
        height: calc(100vh - 100px);
    }

    /* EXAMPLE */
    .main-center p{
        color: white;
    }
/* FINE LAYOUT */

/* UTILITIES */
    .row{
        display: flex;
        flex-flow: row wrap;
    }
    /* TEXT COLOR */
        .txt-white{
            color: #fff;
        }
    /* FINE TEXT COLOR */
    /* FONT WEIGHT */
        .bold{
            font-weight: 700;
        }
    /* FINE FONT WEIGHT */
/* FINE UTILITIES */

/* LAYOUT RESPONSIVE (LARGE DEKSTOP FIRST) */
    /* DESKTOP */
    @media screen and (max-width: 991px){
    }

    /* TABLET */
    @media screen and (max-width: 768px){
    }

    /* MOBILE */
    @media screen and (max-width: 767px){
        .top-bar, .main-center{
            left: 50px;
        }

        .side-bar{
            width: 50px;
        }
    }
/* FINE LAYOUT RESPONSIVE (LARGE DEKSTOP FIRST) */
