*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: #717171;
}

ul{
    list-style-type: none;
}

/* HEADER */
    /* TOP BAR */
        .top-bar > .row{
            justify-content: flex-end;
        }

        .top-bar .col{
            padding: 40px 15px;
        }

        .top-bar-content > a{
            font-size: 15px;
            padding: 15px 45px;
            border-radius: 25px;
            border: 1px solid #fff;
        }
    /* FINE TOP BAR */
/* FINE HEADER */

/* MAIN */
    /* SIDE BAR */
        .side-bar .row-column{
            height: 100%;
            justify-content: space-between;
        }

        .side-bar .col{
            width: 100%;
        }

        .side-bar .col:first-child{
            padding: 20px 0;
        }

        .top-side-bar-content > *, .bottom-side-bar-content > *{
            margin: 0 25px;
        }

        /* TOP SIDE BAR */
            /* LOGO */
            .top-side-bar-logo > img:first-child{
                width: 75%;
            }

            .top-side-bar-logo > img:last-child{
                width: 35px;
                margin: 0 2px;
                display: none;
            }

            /* MENU */
            .top-side-bar-content > .top-side-bar-menu{
                margin: 15px 0;
                padding: 10px 0;
            }

            .top-side-bar-menu li{
                font-size: 15px;
                padding: 6px 25px;
            }

            .top-side-bar-menu li img{
                width: 14%;
            }

            .top-side-bar-menu li, .top-side-bar-menu li img{
                vertical-align: middle;
            }

            .top-side-bar-menu li:first-child{
                border-left: 4px solid #ADFF2F;
                padding-left: calc(25px - 4px);
            }

            /* PLAYLIST */
            .top-side-bar-playlist > h4{
                font-size: 17px;
            }
            
            /* CREATE PLAYLIST */
            .top-side-bar-playlist > .create-playlist{
                margin: 25px 0 15px;
            }

            .create-playlist > a:first-child{
                font-size: 20px;
                padding: 10px 9px;
            }

            .create-playlist > a:last-child{
                font-size: 17px;
                margin-left: 10px;
            }

            /* MENU PLAYLIST */
            .menu-playlist{
                height: 30vh;
                overflow-y: auto;
            }

            .menu-playlist ul li{
                font-size: 15px;
                padding-top: 20px;
            }
        /* FINE TOP SIDE BAR */

        /* BOTTOM SIDE BAR */
            /* DOWNLOAD APP */
            .bottom-side-bar-content > .download-app{
                border-bottom: 1px solid #717171;
                padding-bottom: 10px;
            }

            .download-app > a:last-child{
                margin-left: 5px;
            }

            .download-app > a > img{
                width: 10%;
                vertical-align: text-top;
            }

            /* USER PROFILE */
            .bottom-side-bar-content > .user-profile{
                padding: 20px 0 10px;
            }

            .user-profile > a{
                vertical-align: middle;
            }

            .user-profile > a:first-child{
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-image: url(../img/profile.svg);
                background-position: center;
            }

            .user-profile > a > h5{
                display: inline-block;
                font-size: 16px;
                margin-left: 10px;
            }
        /* FINE BOTTOM SIDE BAR */
    /* FINE SIDE BAR */

    /* MAIN CENTER */
        /* Main Center Section List */
        .main-center > ul > li{
            display: inline-block;
            padding: 0 10px 40px;
        }

        .main-center > ul > li span{
            border-bottom: 2px solid #ADFF2F;
            padding-bottom: 5px;
        }

        /* Main Center Layout */
        .main-center-layout .col:first-child{
            width: 100%;
            margin-bottom: 30px;
        }

        .main-center-layout .col{
            width: calc(100% / 6 - 20px);
            margin-right: 20px;
        }

        .main-center-layout h2{
            font-size: 2rem;
        }

        /* Album Recently Played */
        .recently-played{
            margin-bottom: 50px;
        }

        .recently-played-content *{
            width: 100%;
        }

        .recently-played-content h3{
            font-size: 1.2em;
            padding: 20px 0 10px;
        }

        .recently-played-content span{
            font-size: 1rem;
        }
        
        /* Album Created For You */
        .created-for-you{
            margin-bottom: 20px;
        }

        .created-for-you h2{
            margin-bottom: 10px;
        }

        .created-for-you-content *{
            width: 100%;
        }

        .created-for-you-content h3{
            font-size: 1.2em;
            padding: 20px 0;
        }
        
        /* Album Most Popular Artist */
        .most-popular-artist h2{
            margin-bottom: 10px;
        }

        .most-popular-artist-content *{
            width: 100%;
        }

        .most-popular-artist-content h3{
            font-size: 1.2em;
            padding: 20px 0;
        }

        .artist-cover > img, .artist-cover .layover{
            border-radius: 50%;
        }

        /* Album Cover */
            .album-cover{
                position: relative;
            }

            .album-cover img{
                display: block;
            }

            .album-cover .layover{
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.813);
                cursor: pointer;
                display: none;
            }

            .album-cover .layover .btn-play{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
            }
        /* Fine Album Cover */

        /* Album Cover Hover */
            .album-cover:hover .layover{
                display: block;
            }
        /* Fine Album Cover Hover */
    /* FINE MAIN CENTER */
/* FINE MAIN */

/* FOOTER */
    .bottom-bar .col{
        width: calc(100% / 3);
        margin: 25px 0px;
    }

    /* BOTTOM BAR LEFT */
        .bottom-bar .bottom-bar-left{
            width: calc(100% / 3 - 15px);
            margin-left: 15px;
        }

        .bottom-bar-left img{
            width: 50px;
        }

        .bottom-bar-left > .album-details{
            display: inline-block;
            margin-left: 10px;
        }
        
        .album-details h6{
            font-size: 15px;
        }
        
        .album-details span{
            font-size: 13px;
        }

        .bottom-bar-icons{
            display: inline-block;
            margin-left: 15px;
        }
        
        .bottom-bar-icons i{
            font-size: 18px;
            padding: 0 6px;
        }

        .bottom-bar-left img, .album-details, .bottom-bar-icons{
            vertical-align: middle;
        }
    /* FINE BOTTOM BAR LEFT */

    /* BOTTOM BAR CENTER */
        .bottom-bar-center .row-column > *{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }

        /* TIMELINE BUTTONS */
        .timeline-buttons{
            margin-bottom: 10px;
        }

        .timeline-buttons > a.btn-play{
            padding: 0 40px;
            font-size: 20px;
        }

        .timeline-buttons > a.btn-shuffle{
            padding-right: 25px;
        }

        .timeline-buttons > a.btn-arrow-rotate-right{
            padding-left: 25px;
        }

        /* TIMELINE COUNTER */
        .timeline-counter span{
            font-size: 12px;
        }

        .timeline-counter .full-timeline{
            position: relative;
            width: 75%;
            height: 5px;
            margin: 0 15px;
            border-radius: 25px;
        }

        .timeline-counter .live-timeline{
            position: absolute;
            width: 20%;
            height: 5px;
            top: 0;
            left: 0;
            border-radius: 25px;
        }
    /* FINE BOTTOM BAR CENTER */
    
    /* BOTTOM BAR RIGHT */
        .bottom-bar .bottom-bar-right{
            width: calc(100% / 3 - 15px);
            margin-right: 15px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;
        }

        .bottom-bar-right > a{
            padding-right: 20px;
        }

        .bottom-bar-right .volume-full-line{
            position: relative;
            width: 100px;
            height: 5px;
            border-radius: 25px;
        }

        .bottom-bar-right .volume-live-line{
            position: absolute;
            width: 25%;
            height: 5px;
            top: 0;
            left: 0;
            border-radius: 25px;
        }
    /* FINE BOTTOM BAR RIGHT */
/* FINE FOOTER */

/* UTILITIES */
    .row{
        display: flex;
        flex-flow: row wrap;
    }

    .row-column{
        display: flex;
        flex-flow: column wrap;
    }
    /* TEXT COLOR */
        .txt-white{
            color: #fff;
        }

        .txt-black{
            color: black;
        }
    /* FINE TEXT COLOR */

    /* BG COLOR */
        .bgcolor-grey{
            background-color: #A3A3A3;
        }
        
        /* BGCOLOR LINE */
        .bgcolor-line{
            background-color: #5A5A5A;
        }

        .bgcolor-line-2{
            background-color: #C1C1C1;
        }
    /* FINE BG COLOR */

    /* TEXT ALIGN */
        .txt-center{
            text-align: center;
        }
    /* FINE TEXT ALIGN */

    /* FONT WEIGHT */
        .bold{
            font-weight: 700;
        }
    /* FINE FONT WEIGHT */

/* FINE UTILITIES */

/* LAYOUT */
    /* HEADER, FOOTER LAYOUT */
        .top-bar{
            background-color: #080b12df;
            top: 0;
            width: calc(100% - 250px);
            z-index: 100;
        }

        .bottom-bar{
            background-color: #282828;
            bottom: 0;
            left: 0;
            z-index: 200;
        }

        .top-bar, .bottom-bar{
            position: fixed;
            right: 0;
            height: 100px;
        }
    /* FINE HEADER, FOOTER LAYOUT */

    /* MAIN LAYOUT */
        .side-bar{
            background-color: #000000;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
        }

        .main-center{
            background-color: #141922;
            position: absolute;
            top: 0;
            right: 0;
            width: calc(100% - 250px);
            padding: 120px 20px 50px;
            overflow-y: auto;
        }

        .side-bar, .main-center{
            height: calc(100vh - 100px);
        }
    /* FINE MAIN LAYOUT */
/* FINE LAYOUT */

/* LAYOUT RESPONSIVE (LARGE DEKSTOP FIRST) */
    /* DESKTOP */
    @media screen and (max-width: 1070px){
        /* MAIN CENTER */
            .main-center-layout .col{
                width: calc(100% / 4 - 20px);
            }
            
            .recently-played .col{
                margin-bottom: 20px;
            }

            .recently-played-content h3{
                font-size: 1em;
            }

            .recently-played-content span{
                font-size: 0.9rem;
            }

            .created-for-you-content h3{
                font-size: 1em;
            }

            .most-popular-artist-content h3{
                font-size: 1em;
            }
        /* FINE MAIN CENTER */

        /* FOOTER BOTTOM BAR */
            .timeline-counter .full-timeline{
                margin: 0 10px;
            }
        /* FINE FOOTER BOTTOM BAR */
    }

    /* TABLET */
    @media screen and (max-width: 860px){
        /* MAIN CENTER */
            .main-center-layout .col{
                width: calc(100% / 2 - 20px);
            }
        /* FINE MAIN CENTER */

        /* FOOTER BOTTOM BAR */
            .bottom-bar-icons i.fa-heart{
                display: block;
                margin-bottom: 5px;
            }
            .timeline-counter span{
                font-size: 10px;
            }
        /* FINE FOOTER BOTTOM BAR */
    }

    /* MOBILE */
    @media screen and (max-width: 768px){
        .top-bar, .main-center{
            width: calc(100% - 50px);
        }
        /* SIDE BAR */
            .side-bar{
                width: 50px;
            }

            .top-side-bar-content > *, .bottom-side-bar-content > *{
                margin: 0 5px;
            }

            /* Logo */
            .top-side-bar-logo > img:first-child{
                display: none;
            }

            .top-side-bar-logo > img:last-child{
                display: block;
            }

            /* Menu */
            .top-side-bar-content > .top-side-bar-menu{
                margin: 15px 9px;
                padding: 0;
            }

            .top-side-bar-menu li:first-child{
                border-left: 0;
                padding-left: 0;
            }

            .top-side-bar-menu li{
                padding: 6px 0;
            }

            .top-side-bar-menu li img{
                width: 30px;
            }

            .top-side-bar-menu li a{
                display: none;
            }
            
            /* Playlist */
            .top-side-bar-playlist{
                display: none;
            }

            /* Download App Button */
            .bottom-side-bar-content > .download-app{
                border-bottom: 0;
                padding-bottom: 0;
            }
            
            .download-app > a > img{
                width: 30px;
                margin: 0 3px;
            }

            .download-app > a:last-child{
                display: none;
            }

            /* User Profile Button */
            .user-profile > a:first-child{
                margin: 0 5px;
            }

            .user-profile > a > h5{
                display: none;
            }
        /* FINE SIDE BAR */

        /* FOOTER BOTTOM BAR */
            .album-details span:last-child{
                display: block;
            }

            .timeline-buttons *{
                font-size: 20px;
            }

            .timeline-buttons > a.btn-shuffle{
                padding-right: 20px;
            }

            .timeline-buttons > a.btn-arrow-rotate-right{
                padding-left: 20px;
            }

            .timeline-buttons > a.btn-play{
                padding: 0 35px;
            }

            .timeline-buttons .fa-circle-play{
                font-size: 30px;
            }

            .timeline-counter .full-timeline{
                position: relative;
                width: 50%;
                height: 5px;
                margin: 0 15px;
                border-radius: 25px;
            }

            .bottom-bar-right .volume-full-line{
                width: 50px;
            }
        /* FINE FOOTER BOTTOM BAR */
    }
/* FINE LAYOUT RESPONSIVE (LARGE DEKSTOP FIRST) */