*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */
    .top-bar{
        background-color: #00000094;
        top: 0;
        left: 300px;
        z-index: 100;
    }

    .bottom-bar{
        background-color: #282828;
        bottom: 0;
        left: 0;
        z-index: 103;
    }

    .top-bar, .bottom-bar{
        position: fixed;
        right: 0;
        height: 100px;
    }

    .side-bar{
        background-color: #000000;
        width: 300px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 102;
    }

    .main-center{
        background-color: #141922;
        position: absolute;
        top: 0;
        left: 300px;
        right: 0;
        padding-top: 100px;
        overflow-y: auto;
    }

    .side-bar, .main-center{
        height: calc(100vh - 100px);
    }

    /* EXAMPLE */
    .main-center p{
        color: white;
    }
/* FINE MAIN */

/* UTILITIES */
/* FINE UTILITIES */

/* LAYOUT RESPONSIVE (LARGE DEKSTOP FIRST) */
    /* DESKTOP */
    @media screen and (max-width: 991px){
    }
    /* TABLET */
    @media screen and (max-width: 768px){
    }
    /* MOBILE */
    @media screen and (max-width: 767px){
        .top-bar, .main-center{
            left: 50px;
        }

        .side-bar{
            width: 50px;
        }
    }
/* FINE LAYOUT RESPONSIVE (LARGE DEKSTOP FIRST) */
